.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    

    background: linear-gradient(91deg, #19212b, #ffffff, #ffd000);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;

   


}


.container .title {
    margin-top: 3rem;
}

.container .addProductBtn {
    margin: 4rem 0rem;
    background-color: #3cff22;
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 5rem;
    transition: all 300ms ease-in-out;
}

.container .addProductBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #3cff22;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #fff;

}

.products {
    
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:50% 0%}
        50%{background-position:50% 100%}
        100%{background-position:50% 0%}
    }