.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
}

.products {
    
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}